body{
    margin: 0;
    padding: 0;
}

.page-heading{
    font-size: 30px;
    text-align: center;
    background-color: rgb(173, 87, 173);
    margin: 5px ;
    padding: 7px 5px;
    border-radius: 20px;
}

.main-image{
    height: 400px;
    width: 500px; 
}